{% extends 'base.html' %}

{% block title %}Author Page{% endblock %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="row m-1">
        <div class="col-md-4">
            <img src="{% static 'img/author1.jpg' %}" alt="Author Photo" class="img-fluid rounded">
        </div>
        <div class="col-md-8">
            <h2 class="mb-4">Кручинина Кристина Сергеевна</h2>
            <p class="lead">Мастер спорта России по  рукопашному бою.</p>
        </div>
    </div>
    <div class="row m-1">
        <div class="col-md-4">
            <img src="{% static 'img/author2.jpg' %}" alt="Author Photo" class="img-fluid rounded">
        </div>
        <div class="col-md-8">
            <h2 class="mb-4">Пак Павел Сергеевич</h2>
            <p class="lead">Председатель спортивного комитета Росгвардии.</p>
        </div>
    </div>
</div>
{% endblock %}
