{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Профиль пользователя</h2>
                </div>
                <div class="card-body">
                    <h3>Информация</h3>
                    <dl class="row">
                        <dt class="col-sm-3">Username:</dt>
                        <dd class="col-sm-9">{{ user.username }}</dd>

<!--                        <dt class="col-sm-3">ФИО:</dt>-->
<!--                        <dd class="col-sm-9">{{ user_profile.user.email }}</dd>-->
                    </dl>

<!--                    <h3>Дополнительная информация</h3>-->
<!--                    <dl class="row">-->
<!--                        <dt class="col-sm-3">Что-то:</dt>-->
<!--                        <dd class="col-sm-9">{{ user_profile.full_name }}</dd>-->
<!--                    </dl>-->
                </div>
                <div class="card-body">
                    <h4>Выйти из аккаунта обучающего</h4>
                    <button class="btn btn-secondary" onclick="location.href='{% url 'app:logout' %}'">
                        Выход
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <h2 class="text-center mb-4">Вход для преподавателей</h2>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <form method="post" action="{% url 'app:login' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="{{ form.username.id_for_label }}" >Логин</label>
                    <input type="text" name="username" required id="{{ form.username.id_for_label }}"
                        class="form-control{% if form.username.errors %} is-invalid{% endif %}"><br>
                </div>
                <div class="mb-3">
                    <label for="{{ form.password.id_for_label }}">Пароль:</label>
                    <input type="password" name="password" required id="{{ form.password.id_for_label }}"
                           class="form-control{% if form.password.errors %} is-invalid{% endif %}"><br>
                </div>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary">Войти</button>
                </div>
            </form>
            </div>
        </div>
    </div>
{% endif %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% endblock %}

