/* static/css/styles.css */

.header_shapka_2 {
background-image: url('/static/img/zerna_haki.jpg'); /* Замените на путь к вашему изображению */
    background-size: cover; /* Это свойство позволяет изображению покрывать весь фон */
    background-repeat: no-repeat;
}

.semi-transparent-bg {
        background-color: rgba(201, 20, 53, 0.5);
    }

.text_header {
    color: white;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

/* Общие стили для треугольников */
.triangle {
  width: 0;
  height: 0;
  margin-left: 5px;
  display: inline-block;
}

.hoverable {
    position: relative;
    cursor: pointer;
}

.hoverable .hover-content {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
}

.hoverable:hover .hover-content {
    opacity: 1;
    visibility: visible;
}
