/* static/css/styles.css */

.header_shapka_2 {
background-image: url('/static/img/zerna_haki.jpg'); /* Замените на путь к вашему изображению */
    background-size: cover; /* Это свойство позволяет изображению покрывать весь фон */
    background-repeat: no-repeat;
}

.semi-transparent-bg {
        background-color: rgba(201, 20, 53, 0.5);
    }

.text_header {
    color: white;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

